<?xml version="1.0" encoding="UTF-8" ?>
<taglib version="2.1"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">
<tlib-version>1.0</tlib-version>
	<tlib-version>1.0</tlib-version>
	<short-name>localeDate</short-name>
	<uri>localeDate</uri>
	<tag>
		<name>localeDate</name>
		<tag-class>com.gorelik.hotraces.tag.LocaleDate</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>date</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>locale</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
</taglib>