.table-info {
	width: 1038px;
	margin: auto;
	float: left;
	margin-left: 10px;
}

.table-horse-info {
	width: 800px;
	float: left;
	margin: 0 0 0 117px;
}

.data-table {
	width: 100%;
	border: 1px solid #f6a426;
	border-radius: 5px;
	overflow: scroll;
}

.data-table > caption {
	color: #f6a426;
	font-size: 35px;
	margin-bottom: 10px;
}

.data-table > thead {
	color: #f6a426;
	font-size: 20px;
}

.data-table > tbody {
	background: white;
	text-align: center;
	height: 50px;
	font-size: 20px;
}

.data-table > tbody >tr {
	height: 45px;
}

.no-data-before {
	display: inline-block;
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
	color: red;
}

.no-bets-before {
	color: red;
	font-size: 30px;
}

.selected {
	background-color: #f6a426;
}

.button {
	width: 230px;
	height: 50px;
	background-color: #212121;
	border: 1px solid #f6a426;
	color: #f6a426;
	float: left;
	margin: 0 10px 15px 15px;
	border-radius: 5px;
	font-size: 25px;
}

.error-message-change-user {
	float: left;
	height: 50px;
	margin-left: 10px;
}

.error-message-change-user p {
	color: red;
	font-size: 25px;
	margin: 0px;
	padding: 10px 0 0 0;
}

.scroll-table-horse {
	overflow: auto;
    float: left;
    height: 500px;
    width: 100%;
}

.scroll-table-race {
	overflow: auto;
    float: left;
    height: 500px;
    width: 1038px;
}

.scroll-table-user {
	overflow: auto;
    float: left;
    height: 500px;
    width: 1038px;
}

.table-support {
	width: 1020px;
    float: left;
    margin: 0 0 0 25px;
	text-align: justify;
}