a
{
	color: black;
}

.main-body {
	width: 1200px;
	margin: auto;
}

.profile {
	width: 1200px;
	padding-top: 25px;
}

.user-info {
	height: 400px;
	width: 1200px;
}

.profile-img-and-settings {
	width: 350px;
	height: 400px;
	padding: 0 25px 25px 25px;
	float: left;
}

.user-img {
	width: 250px;
	height: 250px;
	margin: auto;
}

.change-avatar-button {
	background: #212121;
	border: 1px solid #f6a426;
	margin: 20px 0 0 25px;
	border-radius: 5px;
	width: 250px;
	height: 60px;
	font-size: 25px;
	color: #f6a426;
}

.change-avatar-button:hover {
	text-decoration: underline;
}

.profile-settings-button {
	width: 250px;
	height: 100px;
	margin: auto;
}

.profile-settings-money {
	width: 250px;
	height: 100px;
	margin: 10px 0 0 0;
	float: left;
}

.edit-button {
	width: 250px;
	height: 70px;
	border: 1px solid #f6a426;
	border-radius: 5px;
	margin: auto;
}

.edit-button p {
	text-align: center;
	font-size: 23px;
	margin: 0;
	padding: 20px 0;
}

.edit-button a
{
	color: #f6a426;
}

.edit-button:hover {
	text-decoration: underline;
}

.user-about {
	width: 400px;
	float: left;
}

.user-data {
	width: 400px;
	height: 300px;
	float: left;
}

.input-race-data {
	padding: 0;
    display: block;
    width: 220px;
    float: left;
    font-size: 30px;
    color: #f6a426;
    margin: 20px 0 0 5px;
}

.race-edit-descr {
	width: 735px;
    float: left;
    margin: 0 0 25px 150px;
    height: 40px;
}

.user-data-description, .user-data-value {
	display: inline-block;
	margin: 0 0 15px 0;
	padding: 0;
	color: #f6a426;
	font-size: 40px;
}

.user-data-description {
	width: 130px;
}

.selected {
	background-color: #f6a426;
}

.left-admin-menu {
	float: left;
	width: 152px;
	height: 602px;
	border: 1px solid #f6a426;
	border-radius: 5px;
}

.user-navig-panel {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.user-navig-panel > li {
	width: 150px;
	height: 150px;
	border-bottom: 1px solid #f6a426;
	text-align: center;
}

.user-navig-panel > li a {
	color: #f6a426;
	font-size: 20px;
}

.navig-pictrue {
	width: 120px;
	height: 120px;
	margin: 5px 0 0 15px;
	float: left;
}

.navig-user {
	padding:  128px 16px 0 16px;
}

.navig-race {
	padding:  128px 45px 0 45px;
}

.navig-horse {
	padding:  128px 37px 0 45px;
}

.navig-statistic {
	padding:  128px 27.5px 0 27.5px;
}

.navig-rider {
	padding:  128px 23px 0 23px;
}

.user-buttons {
	width: 295px;
	height: 400px;
	float: left;
	font-size: 25px;
}

.profile-messages-button {
    width: 250px;
    height: 70px;
    margin: 0 auto 25px;
    float: left;
}

.messages-button {
	width: 250px;
	height: 70px;
	font-size: 25px;
	background: #212121;
	color: #f6a426;
	border-radius: 5px;
	border: 1px solid #f6a426;
	margin: 0;
}

.messages-button:hover {
	text-decoration: underline;
}

.admin-statistic {
	width: 1020px;
	height: 385px;
	float: left;
	margin: 0 0 0 25px;
}

.bets-statistic {
	width: 498px;
	height: 300px;
	float: left;
	border: 1px solid #f6a426;
	border-radius: 5px;
	margin: 0 0 15px 0;
}

.bets-statistic img {
	float: left;
	width: 240px;
	height: 240px;
	margin: 0 0 0 5px;
}

.bets-stat-descr {
	width: 260px;
	height: 50px;
	display: block; 
	float: left;
	font-size: 40px;
	margin: 0 0 5px 0;
	padding: 0;
	text-align: center;
	color: #f6a426;
}

.bets-stat-today {
	display: block;
	width: 238px;
	float: left;
	text-align: center;
	position: relative;
	left: 10px;
	top: -50px;
	font-size: 50px;
	color: #f6a426;
	margin: 0;
	padding: 0;
}

.bets-stat-today-count {
	display: block;
	width: 238px;
	float: left;
	text-align: center;
	position: relative;
	left: 10px;
	top: -50px;
	font-size: 70px;
	color: #f6a426;
	margin: 0;
	padding: 0;
}

.bets-stat-month {
	display: block;
	width: 238px;
	float: left;
	text-align: center;
	position: relative;
	left: 10px;
	top: -50px;
	font-size: 50px;
	color: #f6a426;
	margin: 0;
	padding: 0;
}

.bets-stat-month-count {
	display: block;
	width: 238px;
	float: left;
	text-align: center;
	position: relative;
	left: 10px;
	top: -50px;
	font-size: 70px;
	color: #f6a426;
	margin: 0;
	padding: 0;
}

.user-statistic {
	width: 498px;
	height: 300px;
	float: left;
	margin: 0 0 15px 20px;
	border: 1px solid #f6a426;
	border-radius: 5px;
}

.user-statistic img {
	margin: 20px 0 0 75px;
	z-index: 0;
	width: 350px;
	height: 180px;
}

.user-number {
	font-size: 90px;
	color: #f6a426;
	text-align: center;
	position: relative;
	top: -100px;
	padding: 0;
	margin: 0;
}

.user-bumber-descr {
	font-size: 27px;
	color: #f6a426;
	text-align: center;
	position: relative;
	padding: 0;
	margin: 0;
	top: -100px;
}

.income-statistic {
	width: 498px;
	height: 300px;
	float: left;
	margin: 0 0 15px 0;
	border: 1px solid #f6a426;
	border-radius: 5px;
}

.income-statistic img {
	float: left;
	width: 240px;
	height: 240px;
	margin: 0 0 0 5px;
}

.race-statistic {
	width: 498px;
	height: 300px;
	float: left;
	margin: 0 0 15px 20px;
	border: 1px solid #f6a426;
	border-radius: 5px;
}

.race-statistic img {
	float: left;
	width: 240px;
	height: 240px;
	margin: 0 0 0 5px;
}

.admin-prof-form {
	margin: 0 0 25px 0;
}