.change-race-main {
	width: 1048px;
	height: 700px;
	float: left;
}

.add-race-h2 {
	font-size: 45px;
	color: #f6a426;
	text-align: center;
	padding: 0;
	margin: 0;
}

.input-description {
	display: block;
	float: left;
	color: #f6a426;
	font-size: 25px;
	padding:0; 
}

.input-data, .horse-data, .horse-data-small {
	border: 1px solid #f6a426;
	background-color: #212121;
	color: #f6a426;
	font-size: 25px;
	float: left;
}

.save-button {
    width: 200px;
    height: 50px;
    background-color: #212121;
    border: 1px solid #f6a426;
    color: #f6a426;
    float: left;
    border-radius: 5px;
    font-size: 25px;
	margin: 25px 0 0 100px;
}

.input-main-data {
	width: 250px;
	margin: 25px 0 0 10px;
}

.button {
	width: 200px;
	height: 50px;
	background-color: #212121;
	border: 1px solid #f6a426;
	color: #f6a426;
	float: left;
	margin: 25px 0 0 15px;
	border-radius: 5px;
	font-size: 25px;
}

.error-message-add-race {
	float: left;
	height: 50px;
	margin-left: 10px;
}

.error-message-add-race p {
	color: red;
	font-size: 25px;
	margin: 0px;
	padding: 10px 0 0 0;

}

.horse-info {
	width: 100%;
	float: left;
}

.horse-data {
	width: 190px;
	margin: 0 0 0 15px;
}

.horse-data-small {
	width: 150px;
	margin: 0 0 0 15px;
}





.data-table {
	width: 928px;
	color: #f6a426;
	text-align: center;
	margin: 20px 0 0 65px;
	float: left;
}

.data-table thead {
	font-size: 25px;
}

.data-table tbody td {
	height: 45px;
}

.data-table select {
	width: 170px;
	height: 33px;
	border: 1px solid #f6a426;
	background-color: #212121;
	color: #f6a426;
	font-size: 25px;
}

.control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	left: 0;
	width: 25px;
	height: 25px;
	background: #212121;
	border: 1px solid #f6a426;
	margin-left: 70px;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ffc772;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #f6a426;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #f6a426;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: 1px solid #f6a426;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 8.75px;
	left: 8.75px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #212121;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}

.checkbox-wrap {
	float: left;
	margin: 0 0 0 75px;
}

.checkbox-wrap label {
	font-size: 23px;
	color: #f6a426;
}

/* Скрываем реальный чекбокс */
.checkbox {
    display: none;
}
 
/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
    position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    width: 20px;             /* Обязательно задаем ширину */
    height: 20px;            /* Обязательно задаем высоту */
    border: 2px solid #f6a426;
    border-radius: 3px;
}
 
/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}
 
/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
    content: "";             /* Добавляем наш псевдоэлемент */
    display: block;          /* Делаем его блочным элементом */
    position: absolute;      /* Позиционируем его абсолютным образом */
 
    /* Задаем расстояние от верхней, правой, нижней и левой границы */
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
 
    background: #f6a426;     /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
    border-radius: 2px;
}