.add-race-main {
	width: 900px;
	height: 800px;
	float: left;
	margin-left: 74px;
}

.hipp-list {
	color: #f6a426;
	background-color: #212121;
	border: 1px solid #f6a426;
	font-size: 25px;
	float: left;
	margin: 22px 0 0 10px;
	width: 205px;
	height: 33px;
}

.horse-list {
	color: #f6a426;
	background-color: #212121;
	border: 1px solid #f6a426;
	font-size: 20px;
	float: left;
	margin: 15px 0 0 58px;
	width: 200px;
	height: 33px;
}

#data-table th {
	width: 225px;
}

.add-race-h2 {
	font-size: 45px;
	color: #f6a426;
	text-align: center;
	padding: 0;
	margin: 0;
}

.input-description {
	display: block;
	float: left;
	color: #f6a426;
	font-size: 25px;
	padding:0;
	margin: 25px 0 0 15px; 
}

.input-data, .horse-data {
	border: 1px solid #f6a426;
	background-color: #212121;
	color: #f6a426;
	font-size: 25px;
	float: left;
	/**/
}

.input-date {
	border: 1px solid #f6a426;
	background-color: #212121;
	color: #f6a426;
	font-size: 25px;
	float: left;
	width: 310px;
	margin: 20px 0 0 10px;
}

.input-main-data {
	width: 250px;
	margin: 25px 0 0 10px;
}

.button {
	width: 200px;
	height: 50px;
	background-color: #212121;
	border: 1px solid #f6a426;
	color: #f6a426;
	float: left;
	margin: 25px 0 0 15px;
	border-radius: 5px;
	font-size: 25px;
}

.error-message-add-race {
	float: left;
	height: 50px;
	margin-left: 10px;
}

.error-message-add-race p {
	color: red;
	font-size: 25px;
	margin: 0px;
	padding: 10px 0 0 0;

}

.horse-info {
	width: 100%;
	float: left;
}

.horse-data {
	width: 200px;
	margin: 0 0 0 15px;
}

.data-table {
	width: 800px;
	color: #f6a426;
	text-align: center;
	margin: 20px 50px;
	float: left;
}

.data-table thead {
	font-size: 25px;
}

.data-table tbody td {
	height: 45px;
}

.add-horse-checkbox {
	
	float: left;
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	background-color: #212121;
}

.checkbox-wrap {
	float: left;
	margin: 0 0 0 65px;
}

.checkbox-wrap label {
	font-size: 23px;
	color: #f6a426;
}

/* Скрываем реальный чекбокс */
.checkbox {
    display: none;
}
 
/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
    position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    width: 20px;             /* Обязательно задаем ширину */
    height: 20px;            /* Обязательно задаем высоту */
    border: 2px solid #f6a426;
    border-radius: 3px;
}
 
/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}
 
/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
    content: "";             /* Добавляем наш псевдоэлемент */
    display: block;          /* Делаем его блочным элементом */
    position: absolute;      /* Позиционируем его абсолютным образом */
 
    /* Задаем расстояние от верхней, правой, нижней и левой границы */
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
 
    background: #f6a426;     /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
    border-radius: 2px;
}
