.bets {
	width: 900px;
	float: left;
}

.hippodrom-name {
	text-align: center;
	font-size: 35px;
	color: #f6a426;
	padding: 15px 0;
	margin: 0px;
}

.hipp-wrapper {
	width: 425px;
	float: left;
	margin: 0 0 0 25px;
}

.hippodrom {
	width: 425px;
	float: left;
	border: 1px solid #f6a426;
	border-radius: 5px;
	padding: 0 12.5px;
	margin: 0 0 15px 0
}


.table-info {
	width: 400px;
	margin: 0 auto 10px;
	float: left;
}

.data-table {
	width: 100%;
	overflow: scroll;
}

.data-table > tbody {
	background: white;
	text-align: center;
	height: 50px;
	font-size: 20px;
}

.data-table > tbody > tr {
	height: 45px;
}

.no-data-before {
	display: inline-block;
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
	color: red;
}

.no-bets-before {
	color: red;
	font-size: 30px;
}

.selected {
	background-color: #f6a555;
}

.button {
	width: 400px;
	height: 50px;
	background-color: #212121;
	border: 1px solid #f6a426;
	color: #f6a426;
	float: left;
	margin: 15px 0 10px 0;
	border-radius: 5px;
	font-size: 25px;
}

.button:hover {
	text-decoration: underline;
}

.error-message-change-user {
	float: left;
	height: 50px;
	margin-left: 10px;
}

.error-message-change-user p {
	color: red;
	font-size: 25px;
	margin: 0px;
	padding: 10px 0 0 0;
}

.scroll-prev-race-table {
	width: 850px;
    height: 400px;
    overflow: auto;
    float: left;
}