.add-race-main {
	width: 920px;
	height: 800px;
	float: left;
	margin: auto;
}

.add-set-coeff-main {
	width: 920px;
	margin: 20px auto;
}

.add-race-h2 {
	font-size: 45px;
	color: #f6a426;
	text-align: center;
	padding: 0;
	margin: 0;
}

.input-description {
	display: block;
	float: left;
	color: #f6a426;
	font-size: 25px;
	padding:0;
	margin: 25px 0 0 10px; 
}

.input-data, .horse-data, .horse-data-small {
	border: 1px solid #f6a426;
	background-color: #212121;
	color: #f6a426;
	font-size: 25px;
	float: left;
}

.input-main-data {
	width: 250px;
	margin: 25px 0 0 10px;
}

.button {
	width: 200px;
	height: 50px;
	background-color: #212121;
	border: 1px solid #f6a426;
	color: #f6a426;
	float: left;
	margin: 25px 0 0 15px;
	border-radius: 5px;
	font-size: 25px;
}

.error-message-add-race {
	float: left;
	height: 50px;
	margin-left: 10px;
}

.error-message-add-race p {
	color: red;
	font-size: 25px;
	margin: 0px;
	padding: 10px 0 0 0;

}

.selected {
	background-color: #f6a666;
}

.horse-info {
	width: 100%;
	float: left;
}

.horse-data {
	width: 190px;
	margin: 0 0 0 15px;
}

.horse-data-small {
	width: 150px;
	margin: 0 0 0 15px;
}

.data-table {
	width: 900px;
	color: #f6a426;
	border: 1px solid #f6a426;
	border-radius: 5px;
	text-align: center;
	margin: 20px 0 0 10px;
	float: left;
}

.data-table thead {
	font-size: 25px;
}

.data-table > tbody {
	background: white;
	text-align: center;
	height: 50px;
	font-size: 20px;
}

.data-table tbody td {
	height: 45px;
	color: black;
	font-size: 25px;
}

.set-coeff {
	height: 45px;
	color: black;
	font-size: 25px;
	background-color: #212121;
}

.input-coeff {
	border: 1px solid #f6a426;
	background-color: #212121;
	height: 30px;
	width: 250px;
	font-size: 20px;
	color: #f6a426;
	text-align: center;
	padding-top: 5px;
}