.contacts-header {
  text-align: center;
  color: #f6a426;
  font-size: 40px;
}

.contact-name {
  color: #f6a426;
  font-size: 35px;
}

.contact-description {
  color: #f6a426;
  font-size: 20px;
}


.contact-content {
  float: left;
  width: 900px;
  padding: 0 50px;
}