.menu-drop-registr, .menu-drop {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 295px;
  height: 65px;
}

.menu-drop-registr a {
  background: #212121;
  color: #f6a426;
  padding: 10px;
  display: block;
  transition: 0.5s all;
}

.side {
  width: 200px;
  height: 65px;
  margin: 0;
  padding: 0;
}

.menu-drop-registr a:hover {
  background: #666;
  padding: 10px 0 10px 20px;
}

/* Всплывающее меню */

.menu-list {
  width: 100%;
  height: 65px;
  position: relative;
}


.menu-drop {
  position: absolute;
  width: 100%;/*сделать 0 */
  opacity: 0;
  top: -1000px;
  transition: 0.2s opacity;
  border-radius: 5px;
}

.menu-drop > li {
  border: 0.5px solid #f6a426;
}

.menu-list:hover .menu-drop {
  opacity: 1;
  top: 65px;
}

.profile-button { 
  width: 100%;
  height: 45px;
  border: 0.5px solid #f6a426;
  background: #212121;
  color:#f6a426;
  transition: 0.5s all;
  text-align: left;
}

.profile-button:hover {
  background: #666;
  padding: 10px 0 10px 20px;
}