.error-500-main {
	width: 875px;
	height: 500px;
	float: left;
	margin: 0 0 0 25px;
}

.error-500-main img {
	width: 875px;
	height: 500px;
	float: left;
	z-index: 0;
}

.error-500-main a {
	position: absolute;
	top: 800px;
	left: 385px;
	z-index: 1;
	border: 3px solid #f6a426;
	border-radius: 10px;
	background: #212121;
	color: #f6a426;
	font-size: 50px;
	padding: 20px;
	transition: all 0.15s;
}

.error-500-main a:hover {
	background-color: #f6a426;
	color: #212121;
	border: 3px solid #212121;
}