.faq {
	width: 875px;
	height: 2450px;
	float: left;
	margin: 0 0 0 25px;
	color: #f6a426;
}

.faq > h2 {
	text-align: left;
	font-size: 50px;
	margin: 0 0 15px 0;
	padding: 0;
}

.faq > p {
	font-size: 25px;
	margin: 0;
	padding: 0;
	text-align: justify;
}