.footer {
    width: 1200px;
    padding: 0 100px 0 80px;
    background-color: #212121;
    height: 395px;
    border-radius: 5px;
    float: left;
    margin: 30px 40px 30px 40px;
}

.footer ul > li > a {
	color: #f6a426;
}

.footer ul > li > a:hover {
	text-decoration: underline;
}

.footer ul > li > a:active {
	color: #f6a426;
}

.footer ul > li > a:visited {
	color: #f6a426;
}

.footer-hr {
	 width: 1000px;
	 background-color: #f6a426;
	 border: none;
	 height: 2px;
}

.footer-navigation {
	height: 245px;
	width: 250px;
	color: #f6a426;
	float: left;
}

.footer-navigation > ul {
	margin: auto;
	width: 200px;
	height: 200px;
	margin: 10px 0 0 55px;
	padding: 0;
}

.footer-navigation > ul > li {
	width: 150px;
	list-style-type: none;
	float: left;
	margin: 8px auto;
	font-size: 20px;
}

.footer-faq {
	height: 245px;
	width: 250px;
	color: #f6a426;
	float: left;
}

.footer-faq > ul {
	width: 200px;
	height: 200px;
	padding: 0;
	margin: 10px 0 0 55px;
}

.footer-faq > ul > li {
	width: 200px;
	list-style-type: none;
	float: left;
	margin: 8px auto;
	font-size: 20px;
}

.footer-about-us {
	height: 245px;
	width: 250px;
	color: #f6a426;
	float: left;
}

.footer-about-us > ul {
	width: 200px;
	height: 200px;
	padding: 0;
	margin: 10px 0 0 55px;
}

.footer-about-us > ul > li {
	width: 200px;
	list-style-type: none;
	float: left;
	margin: 8px auto;
	font-size: 20px;
}

.footer-help {
	height: 245px;
	width: 250px;
	color: #f6a426;
	float: left;
}

.footer-help > ul {
	width: 200px;
	height: 200px;
	padding: 0;
	margin: 0;
	margin: 10px 0 0 55px;
}

.footer-help > ul > li {
	width: 200px;
	list-style-type: none;
	float: left;
	margin: 8px auto;
	font-size: 20px;
}

.footer-ul-head {
	color: #f70;
}

.footer-payment {
	float: left;
	height: 40px;
	width: 400px;
	margin: 30px 0 0 0;
}

.footer-payment > img {
	margin: 0 15px 0 0;
}

.footer-medals {
	float: right;
	height: 40px;
	width: 400px;
	margin: 30px 0 0 0;
	padding: 0 10px 0 0;
}

.footer-medals > img {
	float:right;
	margin: 0 0 0 15px;
}

.footer-copyright {
	width: 1000px;
	float: left;
	margin: 15px 0 0 10px;
}

.rights {
	float: left;
	width: 500px;
	padding: 0;
	color: #f6a426;
}

.rights > p {
	padding: 0;
	margin: 8px 0;
}

.pegi {
	float: left;
	width: 500px;
	padding: 0;
	color: #f6a426;
	text-align: left;
}

.pegi > p {
	padding: 0;
	margin: 8px 0;
}

.pegi > img {
	width: 35px;
	height: 35px;
	margin: 10px 10px 0 200px;
}