.forgot-password-main {
	width: 500px;
	height: 280px;
	float: left;
	margin: 0 0 0 200px;
	padding: 15px;
	border: 1px solid #f6a426;
	border-radius: 5px;
}

.forgot-password-main h2 {
	color: #f6a426;
	font-size: 35px;
	float: left;
	text-align: center;
	width: 470px;
}

.forgot-password-main p {
	color: #f6a426;
	font-size: 23px;
	text-align: justify;
}

.error-paswrd-message {
	width: 875px;
	float: left;
	text-align: center;
	margin: 10px 0 10px 25px;
	font-size: 25px;
	color: red;
}

.forg-password-email {
	width: 290px;
	height: 40px;
	color: #f6a426;
	background-color: #212121;
	font-size: 25px;
	border: 1px solid #f6a426;
	float: left;
	border-radius: 5px;
}

.forg-password-submit {
	float: left;
	margin: 0 0 0 15px;
	color: #f6a426;
	background-color: #212121;
	width: 150px;
	height: 40px;
	font-size: 25px;
	border: 1px solid #f6a426;
	border-radius: 5px;
}

.new-password {
	width: 875px;
	float: left;
	text-align: center;
	margin: 10px 0 10px 25px;
	font-size: 25px;
	color: green;
}