* {
    box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	background-color: #212121;
}

a {
	text-decoration: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 0px;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 1000px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
	
	.main-page {
		width: 1200px;
		margin: auto;
	}

	.sign-in, .registration {
		width: 150px;
		height: 45px;
		background-color: #f6a426;
	}

}

.header {
	margin: auto;
	width: 1200px;
}

.authorization
{
	margin-top: 10px;
	width: 100%;
	height: 70px;
}


.registration {
	height: 55px;
	background-color: #212121;
	width: 175px;
	float: left;
	margin: 10px 0px 0px 20px;
	border-radius: 7px;
	text-align: center;
	transition: all 0.15s;
	border: 1px solid #f6a426;
}

.registration  p {
	padding: 11px;
	text-align: center;
	margin: 0px;
}
.registration:hover {
	background-color: #f6a426;
	border: 1px solid red;
	
}

.registration > .registration-ref p
{
	font-size: 25px;
	color: #f6a426;
}

.registration > .registration-ref p:hover
{
	color: black;
}

.sign-in-main {
	float: right;
	width: 315px;
	height: 65px;
}

.sign-in-user {
	float: right;
	width: 296px;
	height: 65px;
	border-radius: 5px;
	border: 1px solid #f6a426;
}

.sign-in {
	height: 55px;
	width: 100px;
	background-color: #212121;
	float: left;
	margin: 10px 0 0 20px;
	border-radius: 7px;
	text-align: center;
	transition: all 0.15s;
	border: 1px solid #f6a426;
}

.sign-in  p {
	font-size: 25px;
	padding: 12px;
	margin: 0px;
}

.sign-in:hover {
	background-color: #f6a426;
	border: 1px solid red;
}

.sign-in > .sign-in-ref p {
	color: #f6a426;
}

.sign-in > .sign-in-ref p:hover {
	color: black;
}

.registration-nickname {
	float: left;
	width: 208px;
	height: 65px;
}

.registration-img {
	float: left;
	width: 85px;
	height: 65px;
	margin: 0;
	padding: 7.5px 10px 0 10px;
}

.drop-down-menu-header {
	padding: 150px 0 0 0;
	width: 200px;
	height: 150px;
	background: white;
	opacity: 0;
}

.registration-nickname > p {
	font-size: 30px;
	text-align: center;
	color: #f6a426;
	margin: 0;
	padding: 15px 5px 0 0;
}

.contacts-main {
	padding: 0;
	margin: 15px 0 0 0;
	width: 1200px;
	height: 270px;
}

.pegas-left, .pegas-right {
	width: 312px;
	margin-top: 50px;
	position: absolute;
}

.logo-and-social {
	width: 400px;
	height: 270px;
	margin: 0;
	padding: 0;
	float: left;
}

.logo {
	width: 400px;
	height: 215px;
	float: left;
	background-color: #f6a426;
	border-radius: 5px;
}

.languages-main {
	width: 250px;
	height: 65px;
	float:left;
}

.languages {
	height: 65px;
	width: 200px;
	margin: 0;
}

.languages > ul {
	padding: 20px 0 0 0;
	height: 50px;
	margin: 0;
}

.languages > ul > li {
	margin: 0 15px 0 0;
	float: left;
	list-style-type: none;
	opacity: 0.7;
	transition: all 0.15s;
}

.languages > ul > li:hover {
	opacity: 1;
}

.clear {
	clear: both;
}

.clocks-main {
	width: 475px;
	height: 270px;
	float: left;
}

.clocks {
	margin: 0 0 0 30px;
	height: 270px;
	width:445px;
	background-color: #f6a426;
	border-radius: 5px;
}

.time {
	float: left;
	padding: 5px;
	width: 200px;
	height: 250px;
	margin: 10px 0 0 15px;
}

.time > canvas {
	width: 190px;
	height: 190px;
}

.city > p {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	margin: 0;
	padding: 0;
}

.small-info {
	width: 295px;
	height: 270px;
	float: left;
	margin: 0 0 0 30px;
}

.picture, .picture-info {
	float: left;
	width: 50px;
	height: 50px;
}

.picture {
	padding: 5px;
	margin: 10px 0 0 5px;
}

.picture-info {
	padding: 5px;
	margin-right: 12px;
}

.contact {
	height: 70px;
	width: 225px;
	float: left;
}

.small-help {
	height: 70px;
	background-color: #f6a426;
	border-radius: 5px;
	margin-bottom: 30px;
}

.info {
	width: 400px;
	background-color: #f6a426;
	border-radius: 5px;
	padding-left: 12.5px;
	margin: 15px 0 0 0;
	height: 40px;
	float: left;
}

.contact p {
	padding: 15px;
	font-size: 30px;
	margin: 0;
	text-align: left;
}

.contact a:link {
	color: black;
}

.contact a:visited {
	color: black;
}

.contact a:hover {
	color: black;
	text-decoration: underline;
}

.info p {
	padding: 5px;
}

.info > .contact > a:link {
	color: black;
}

.info > .contact > a:visited {
	color: black;
}

.info > .contact > a:hover {
	color: black;
	text-decoration: underline;
}

.info .picture {
	padding-top: 4px;
	font-size: 30px;
	margin: 0;
	text-align: center;
}

.header-info {
	width: 400px;
	height: 260px;
	float: left;
	border-radius: 5px;
}

.header-inner-info {
	height: 180px;
	width: 330px;
}

.navigation-main {
	margin: 25px 0 0 0;
	width: 100%;
	height: 70px;
	background-color: #f6a426;
	border-radius: 5px;
}

.navigetion {
	height: 70px;
}

.nagivation > ul {
	margin: 0;
	padding: 0;
}

.nagivation > ul > li{
	width: 20%;
	list-style-type: none;
	float: left;
	text-align: center;
	padding: 13px;
}

.nagivation > ul > li > a {
	text-align: center;
	margin: 0;
	font-size: 35px;
}

.nagivation > ul > li > a:link {
	color: black;
}

.nagivation > ul > li > a:visited {
	color: black;
}

.nagivation > ul > li > a:hover {
	color: black;
	text-decoration: underline;
}

.error-message {
	color: red;
	font-size: 25px;
	display: block;
	float: left;
    margin: 0 0 10px 25px;
}

.error-message {
	color: red;
	font-size: 25px;
	display: block;
	float: left;
    margin: 0 0 10px 25px;
}

.error-registration-message {
	color: red;
    font-size: 25px;
    margin: 0 0 10px 0;
    display: block;
    text-align: center;
}

.error-bets-message {
    width: 870px;
	color: red;
	float: left;
    font-size: 25px;
    margin: 0 0 10px 25px;
    display: block;
    text-align: justify;
}

.error-client-message {
	color: red;
	font-size: 25px;
	margin: 0 0 10px 100px;
	display: block;
}

.error-bookmaker-message {
	color: red;
	font-size: 25px;
	margin: 0 0 10px 100px;
	display: block;
}

.error-admin-message {
	color: red;
	font-size: 25px;
	margin: 0 0 10px 25px;
	display: block;
	float: left;
}