.hipp-description-page {
	width: 875px;
	height: 2350px;
	float: left;
	margin: 0 0 0 25px;
	color: #f6a426;
}

.hipp-description-page > h2 {
	text-align: center;
	font-size: 50px;
	margin: 0 0 15px 0;
	padding: 0;
}

.hipp-description-page > p {
	font-size: 25px;
	margin: 0;
	padding: 0;
	text-align: justify;
}

.hipp-description-page > img {
	width: 400px;
	height: 250px;
	margin: 0 0 0 25px;
	padding: 0;
}