.how-to-play-main {
	width: 875px;
	float: left;
	margin: 0 0 0 25px;
}

.how-to-play-main h1 {
	color: #f6a426;
	font-size: 50px;
	text-align: center;
	margin: 0 0 15px 0;
	padding: 0;
}

.how-to-play-main h2 {
	color: #f6a426;
	font-size: 35px;
	text-align: justify;
	margin: 0 0 15px 0;
	padding: 0;
}

.how-to-play-main p {
	color: #f6a426;
	font-size: 25px;
	text-align: justify;
	margin: 0;
	padding: 0;
}

.how-to-play-main img {
	display: block;
	margin: 0 auto;
	border: 2px solid #f6a426;
}