.main-body {
	width: 1200px;
	margin: 25px auto;
}

.left-info-menu {
	width: 300px;
	float:left;
	height: 800px;
}

.faq-menu {
	width: 300px;
	height: 400px;
}

.hippodroms-menu {
	margin: 25px 0 0 0;
	width: 300px;
	height: 375px;
}

.left-menu-header {
	width: 300px;
	height: 70px;
	background: #f6a426;
	border-radius: 5px 5px 0 0;
}

.left-menu-header > p {
	font-size: 40px;
	margin: 0;
	padding: 10px 0 0 0;
	text-align: center;
}

.menu-item {
	width: 300px;
	height: 60px;
	font-size: 30px;
	border: 1px solid #f6a426;
}

.menu-item p {
	margin: 0;
	padding: 10px 0 0 10px;
	color: #f6a426;
	text-align: left;
}

.menu-item p:hover {
	text-decoration: underline;
}

.menu-flag-country {
	width: 49px;
	height: 45px;
	float:left;
	padding: 9px 0 0 0;
}

.menu-name-country {
	float: left;
	width: 240px;
}

.hippodroms-menu > .menu-item p  {
	width: 240px;
	height: 60px;
	font-size: 30px;
}