.hippodrom-description {
	text-align: center;
	font-size: 40px;
	color: #f6a426;
}

.live-main {
	float: left;
	width: 900px;
	height: 2100px;
	padding: 0 0 0 50px;
}

.video {
	width: 800px;
	margin: 0 25px;
	height: 400px;
}