.main-background {
	float: left;
	width: 900px;
	height: 550px;
	padding: 0 0 0 50px;
}

.main-desctiption {
	display: inline-block;
	width: 850px;
	float: left;
	font-size: 25px;
	color: #f6a426;
	margin: 15px 0 0 50px;
	padding: 0px;
}