.message-main {
	width: 600px;
	margin: auto;
	height: 500px;
	position: absolute;
    left: 535px;
    top: 750px;
}

.message-admin-main {
	width: 600px;
	margin: 0 0 0 330px;
	height: 500px;
}

.message-bookmaker-main {
	width: 600px;
	margin: auto;
	height: 500px;
}

.message-client-main {
	width: 600px;
	margin: auto;
	height: 500px;
}

.dialog-with {
	margin: 0;
	padding: 0px;
	font-size: 25px;
	color: #f6a426;
}

.dialog {
    width: 600px;
    background-color: white;
    height: 450px;
    overflow-y: auto;
    margin: 15px 0 0 0;
    border: 3px solid #f6a426;
    border-radius: 5px;
}

.message {
	width: 594px;
    margin: 15px 0 0 0;
    background-color: #ffe9cc;
    font-size: 20px;
    float: left;
}

.avatar {
	width: 70px;
	height: 70px;
	float: left;
}

.people-data {
	width: 530px;
	font-size: 15px;
}

.message-avatar {
	width: 60px;
	height: 60px;
	padding: 0;
	margin: 5px 0 0 5px;
	border-radius: 3px;
	border: 1px solid #f6a426;
}

.send-message-button {
	width: 150px;
	height: 60px;
	font-size: 30px;
	color: #f6a426;
	border: 1px solid #f6a426;
	color: #f6a426;
	background-color: #212121;
    margin: 10px 0 0 15px;
	border-radius: 5px;
}

.select-dailog-button {
	width: 250px;
	height: 60px;
	font-size: 30px;
	color: #f6a426;
	border: 1px solid #f6a426;
	color: #f6a426;
	background-color: #212121;
	margin: 10px 0 0 0;
	border-radius: 5px;
}

.send-message {
	width: 425px;
    height: 70px;
    margin: 15px 10px 0 0;
    float: left;
}

.send-message textarea {
	width: 423px;
	height: 68px;
	font-size: 20px;
	resize: none;
	border: 2px solid #f6a426;
    border-radius: 3px;
}

.send-message-to-user-button {
	width: 165px;
    height: 70px;
	font-size: 30px;
	color: #f6a426;
	border: 1px solid #f6a426;
	color: #f6a426;
	background-color: #212121;
	margin: 15px 0 0 0px;
	border-radius: 5px;
	float: left;
}

.new-user-message-button {
	width: 270px;
	height: 60px;
	font-size: 30px;
	color: #f6a426;
	border: 1px solid #f6a426;
	color: #f6a426;
	background-color: #212121;
	margin: 10px 0 0 15px;
	border-radius: 5px;
}

.new-message-main {
	width: 600px;
	margin: auto;
	height: 300px;
	float: left;
	margin: 20px 0 0 300px;
}

.new-message-admin-main {
	width: 600px;
	margin: auto;
	height: 300px;
	float: left;
	margin: 20px 0 0 250px;
}

.new-admin-message-main {
	width: 600px;
	margin: auto;
	height: 300px;
	float: left;
	margin: 20px 0 0 25px;
}

.new-dialog-with {
	margin: 0;
	padding: 0px;
	font-size: 25px;
	color: #f6a426;
	display: inline-block;
}

.new-user-name {
	background-color: #212121;
	margin: 0 0 0 10px;
	height: 25px;
	font-size: 20px;
	color: #f6a426;
	border: 1px solid #f6a426;
	width: 189px;
}

.action-with-message {
	float: left;
}

.user-list {
	border: 1px solid #f6a426;
	font-size: 23px;
	background-color: #212121;
	color: #f6a426;
	width: 189px;
	height: 30px;
	margin: 0 0 0 10px;
}

.error-in-message {
	color: red;
    font-size: 25px;
    display: block;
    margin: auto;
    text-align: center;
}