
.messages-info {
	width: 1200px;
	padding: 0 150px;
}

.messages-admin-info {
	width: 900px;
    float: left;
    margin: 0 0 0 50px;
}
  
.messages-table {
	width: 900px;
	border: 1px solid #f6a426;
	border-radius: 5px;
	overflow: scroll;
}

.messages-table > caption {
	color: #f6a426;
	font-size: 35px;
	margin-bottom: 10px;
}

.messages-table > thead {
	color: #f6a426;
	font-size: 20px;
}

.messages-table > tbody {
	background: white;
	text-align: center;
	height: 50px;
	font-size: 20px;
}

.messages-table > tbody >tr {
	height: 45px;
}

.scroll-table {
  width: 930px;
  overflow: auto;
  margin: 0 0 0 150px;
  height: 350px;
}

.scroll-admin-table {
    width: 930px;
    overflow: auto;
    margin: 0 0 0 90px
}

.message-table-action {
	float: left;
	margin: 0;
}

.message-table-admin-action {
	width: 600px;
    height: 70px;
    float: left;
    margin: 0 0 0 0px;
}
   

.selected {
	background-color: #f6a555;
}