.pagination {
	display: block; 
	margin: 20px 0 0 0;
	float: right;
}

.pagination a {
  color: #f6a426;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0 1px;
  border: 1px solid #f6a426;
}

.pagination a.active {
  color: black;
  background-color: #f6a426;
  border: 1px solid red;
}

.pagination a:hover:not(.active) { 
  color: black;
  background-color: #f6a426;
  border: 1px solid red;
}