.payment-sysytems-main {
	width: 875px;
	float: left;
	margin: 0 0 0 25px;
}

.payment-sysytems-main h1 {
	font-size: 50px;
	color: #f6a426;
	text-align: center;
	padding: 0;
	margin: 0;
}

.payment-sysytems-main p {
	color: #f6a426;
	font-size: 25px;
	margin: 0;
	padding: 0;
}

.payment-sysytems-main a {
	color: #f6a426;
	font-size: 25px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}