.main-body {
	width: 1200px;
	margin: auto;
}

.registration-block {
  z-index: -6;
  width: 1200px;
  margin: auto;
  height: 761px;
  background: url(../pictures/registration/registration_background.png);
}

.shadow {
  box-shadow: inset 0px 0px 10px 10px #212121;
  width: 1200px;
  height: 761px;
  padding: 180px 0 0 330px
}

.payment-error-message {
	color: red;
	font-size: 20px;
}

.payment-message {
	color: green;
	font-size: 20px;
}

.card-main {
	width: 405px;
	height: 300px;
	background: #212121;
	z-index: 1;
	float: left;
	border: 2px solid #f6a426;
	border-radius: 25px;
}

.card-additional {
	width: 440px;
	height: 300px;
	background: #212121;
	z-index: 0;
	margin-left: 100px;
	border: 2px solid #f6a426;
	border-radius: 25px;
}

.card-picture {
	width: 220px;
	height: 26px;
	margin: 15px 0 0 170px;
}

.card-logo {
	
	margin-left: 10px;
	float: left;
}

.visa {
	background-image: url(../pictures/payment/visa.png);
	width: 57px;
	height: 25px;
}

.master-card {
	background-image: url(../pictures/payment/mastercard.png);
	width: 42px;
	height: 25px;
}

.maestro {
	background-image: url(../pictures/payment/maestro.png);
	width: 42px;
	height: 25px;
}

.code {
	height: 70px;
}

.code p
{
	color: #f6a426;
	margin: 0 10px;
	padding: 0;
	font-size: 20px;
}

.code span {
	color: #f6a426;
}

.card-field, .card-field-date, .card-field-back {
	font-size: 25px;
	height: 27px;
	background-color: #212121;
	color: #f6a426;
	border: 1px solid #f6a426;
	margin: 0 0 0 10px;
	text-align: center;
}

.card-field-date p {
	float: left;
}

.card-field {
	width: 80px;
}

.card-field-date {
	width: 50px;
	float: left;
}

.card-additional {
	text-align: right;
}

.black-background {
	width: 100%;
	height: 50px;
	background-color: black;
	margin: 25px 0 0 0;
}

.card-additional p {
	color: #f6a426;
	font-size: 20px;
	margin-right: 10px;
}

.back-code {
	width: 100%;
	height: 100px;
}

.back-code input {
	width: 80px;
	height: 27px;
	margin-right: 23px;
}

.confirm-pay {
	margin: 20px 0 0 0;
	width: 540px;
	border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #f6a426;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.payment-sum {
	margin: 10px 0 0 10px;
}

.payment-sum p {
	color: #f6a426;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}

.field-sum {
	width: 100px;
	background-color: #212121;
	color: #f6a426;
	border: 1px solid #f6a426;
	font-size: 25px;
	height: 27px;
}