.previous-races {
	width: 875px;
	float: right;
	overflow: auto;
}

.prev-race-table {
	width: 100%;
	border: 1px solid #f6a426;
	border-radius: 5px;
	overflow: scroll;
}

.prev-race-table > caption {
	color: #f6a426;
	font-size: 35px;
	margin-bottom: 10px;
}

.prev-race-table > thead {
	color: #f6a426;
	font-size: 20px;
}

.prev-race-table > tbody {
	background: white;
	text-align: center;
	height: 50px;
	font-size: 20px;
}

.prev-race-table > tbody >tr {
	height: 45px;
}

.no-data-before {
	display: inline-block;
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
	color: red;
}

.no-bets-before {
	color: red;
	font-size: 30px;
}

.selected {
	background-color: #f6a426;
}

.error-message-change-user {
	float: left;
	height: 50px;
	margin-left: 10px;
}

.error-message-change-user p {
	color: red;
	font-size: 25px;
	margin: 0px;
	padding: 10px 0 0 0;

}

.race-descr-button {
	width: 200px;
	height: 50px;
	background-color: #212121;
	border: 1px solid #f6a426;
	color: #f6a426;
	float: left;
	margin: 15px 0 10px 0;
	border-radius: 5px;
	font-size: 25px;
}

.race-descr-button:hover {
	text-decoration: underline;
}

.no-prev-race {
	display: block;
	color: red;
	font-size: 35px;
	display: block;
	text-align: center;
}