a {
	color: black;
}

.main-body {
	width: 1200px;
	margin: auto;
}

.profile {
	width: 1200px;
	padding-top: 25px;
}

.user-info {
	height: 400px;
	width: 1200px;
}

.profile-img-and-settings {
	width: 350px;
	height: 400px;
	padding: 0 25px 25px 25px;
	float: left;
}

.user-img {
	width: 250px;
	height: 250px;
	margin: auto;
}

.user-img img {
	width: 250px;
	height: 250px;
}

.change-avatar-button {
	background: #212121;
	border: 1px solid #f6a426;
	margin: 20px 0 0 25px;
	border-radius: 5px;
	width: 250px;
	height: 60px;
	font-size: 25px;
	color: #f6a426;
}

.change-avatar-button:hover {
	text-decoration: underline;
}

.profile-settings-button {
	width: 250px;
	height: 70px;
	margin: 0 auto 25px;
	float: left;
}

.profile-account-button {
	width: 250px;
	height: 70px;
	margin: 0 auto 25px;
	float: left;
}

.profile-prev-bets-button {
	width: 250px;
	height: 70px;
	margin: 0 auto 25px;
	float: left;
}

.profile-messages-button {
	width: 250px;
	height: 70px;
	margin: 0 auto 25px;
	float: left;
}

.profile-settings-money {
	width: 250px;
	height: 100px;
	margin: 10px 0 0 0;
	float: left;
}

.edit-button {
	width: 250px;
	height: 70px;
	border: 1px solid #f6a426;
	border-radius: 5px;
	margin: auto;
}

.edit-button p {
	text-align: center;
	font-size: 25px;
	margin: 0;
	padding: 20px 0;
}

.edit-button a
{
	color: #f6a426;
}

.edit-button:hover {
	text-decoration: underline;
}

.user-about {
	width: 800px;
	float: left;
}

.user-data {
	width: 400px;
	height: 300px;
	float: left;
}

.user-data-description, .user-data-value {
	display: inline-block;
	margin: 0 0 15px 0;
	padding: 0;
	color: #f6a426;
	font-size: 40px;
}

.user-data-description {
	width: 160px;
}

.previous-bets-button {
	width: 250px;
	height: 70px;
	font-size: 25px;
	background: #212121;
	color: #f6a426;
	border-radius: 5px;
	border: 1px solid #f6a426;
	margin: 0 0 0 0;
	float: left;
}

.previous-bets-button:hover {
	text-decoration: underline;
}

.messages-button {
	width: 250px;
	height: 70px;
	font-size: 25px;
	background: #212121;
	color: #f6a426;
	border-radius: 5px;
	border: 1px solid #f6a426;
	margin: 0;
}

.coeff-button {
    width: 250px;
    height: 70px;
    font-size: 25px;
    background: #212121;
    color: #f6a426;
    border-radius: 5px;
    border: 1px solid #f6a426;
    margin: 0 0 25px 0;
}

.coeff-button:hover {
	text-decoration: underline;
}

.messages-button:hover {
	text-decoration: underline;
}

.user-buttons {
	width: 295px;
	height: 400px;
	float: left;
	font-size: 25px;
	margin: 0 0 0 100px;
}


.bets-info {
	width: 1200px;
	margin: auto;
    height: 500px;
}

.previous-bets-table {
	width: 1200px;
	border: 1px solid #f6a426;
	border-radius: 5px;
	overflow: scroll;
}

.previous-bets-table > caption {
	color: #f6a426;
	font-size: 35px;
	margin-bottom: 10px;
}

.previous-bets-table > thead {
	color: #f6a426;
	font-size: 20px;
}

.previous-bets-table > tbody {
	background: white;
	text-align: center;
	height: 50px;
	font-size: 20px;
}

.previous-bets-table > tbody >tr {
	height: 45px;
}

.no-bets-before, .no-messages-before {
	display: inline-block;
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
	color: red;
}

.no-bets-before {
    color: red;
    font-size: 30px;
    display: block;
    margin: auto;
    text-align: left;
    width: 1000px;
}

.send-message-button:hover {
	text-decoration: underline;
}