*{
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: #f6a426;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #d88202;
}

.form {
  background: rgba(33, 33, 33, 0.9);
  padding: 40px;
  width: 500px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(33, 33, 33, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #ce8f2f;
  color: #ffffff;
}
.tab-group .active a {
  background: #f6a426;
  color: #ffffff;
}


h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(246, 164, 38, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #f6a426;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

.error-login-message {
	color: red;
	font-size: 20px;
	text-align: center;
}


input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #f7be67;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 30px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.sign-in-button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 15px 0;
	font-size: 2rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #f6a426;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
	display: block;
	width: 200px;
}

.to-main-sign-in {
    display: block;
    width: 200px;
    float: left;
    border: 1px solid #f6a426;
    height: 67px;
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 34px;
    margin: 0 20px 0 0;
}

.to-main-sign-in:hover {
	background-color: #f6a426;
	color: black;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #f6a426;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #d88202;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: center;
}

.registr {
   margin-top: -20px;
   text-align: center;
}

.forgot-block, .registr-block {
  width: 50%;
  height: 20px;
  float: left;
}


.registration-block {
  z-index: -6;
  width: 1200px;
  height: 761px;
  background: url(../pictures/registration/registration_background.png);
}

.shadow {
  box-shadow: inset 0px 0px 10px 10px #212121;
  width: 1200px;
  height: 761px;
}

.registration-form {
  z-index: -5;
  width: 500px;
  height: 550px;
  padding-top: 110px;
  margin: 0 auto;
}