.support {
	width: 875px;
	height: 650px;
	float: left;
	margin: 0 0 0 25px;
	color: #f6a426;
}

.question-email-wrapper, .question-topic-wrapper, .question-text-wrapper {
	width: 100%;
	float: left;
	margin: 0 0 20px 0;
}

.support p {
	font-size: 25px;
	display: block;
	margin: 0;
	padding: 0;
}

.support select {
	font-size: 25px;
	background-color: #212121;
	color: #f6a426;
	border: 1px solid #f6a426;
	float: left;
}

.support textarea {
	font-size: 20px;
	width: 600px;
	height: 200px;
	float: left;
	margin: 10px 0 0 0;
}

.support .error {
	font-size: 25px;
	display: block;
	margin: 10px 0 0 0;
	padding: 0;
	color: red;
	text-align: center;
}

.support .successfull {
	font-size: 25px;
	display: block;
	margin: 10px 0 0 0;
	padding: 0;
	color: green;
	text-align: center;
}

.question-email {
	width: 300px;
	height: 30px;
	background-color: #212121;
	color: #f6a426;
	font-size: 25px;
	border: 1px solid #f6a426;
	float: left;
}

.submit {
	width: 150px;
	height: 60px;
	background-color: #212121;
	color: #f6a426;
	border: 2px solid #f6a426;
	border-radius: 5px;
	font-size: 25px;
}

.question-input-email {
	width: 170px;
	float: left;
	margin: 0;
	padding: 0;
}

.question-select-topic {
	width: 270px;
	float: left;
	margin: 0;
	padding: 0;
}

.td-supp-message {
	text-align: justify;
}