.pages {
	width: 300px;
	height: 20px;
	margin: 20px auto 20px;
}

.pages ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	display: block; /* добавляем блочность, если необходимо */
	font-size: 0; /* убираем нежелательные отсутпы у дочерних элементов */
}

.pages li {
	color: #f6a426;
	margin: 0 5px;
	font-size: 16px; /* возвращаем размер шрифта */
	display: inline-block; /* позволяем vertical-align выравнивать себя по вертикали */
	vertical-align: middle; /* и выравниваем */
}

.pages-wrapper {
	width: 200px;
	float: left;
	height: 20px;
	margin: 0 auto;
}